
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
  

    <link rel="stylesheet" type="text/css" href="static/menu.css ">

   
 
    <title>{% block title %}Enforce{% endblock %}</title>

  </head>

  <body>
   
    <div id="menu">

      <ul class="ul">
        <li><a href="/cadastro">Cadastrar</a></li>
      </ul>
        
      <h3>Aprendizagem de API - fixando conceitos</h3>
    </div>

  

    {% block content %}
    {% endblock %}


   

    </div> <!-- /container -->
  </body>
</html>
