  {% extends 'index.html' %}


  {% block title %}{{ super()}} - Confirmado{% endblock %}
  {% block content %}




      <div>
        <h1>Cidade pesquisada: {{dadostempo['name']}}</h1>
        <h1>Estado: {{dadostempo['state']}}</h1>
        <h1>Temperatura: {{dadostempo['data']['temperature']}} ºC</h1>
        <h1>Sensação: {{dadostempo['data']['sensation']}} °C</h1>
        <h1>Velocidade do vento: {{dadostempo['data']['wind_velocity']}}</h1>
        <h1>Condição: {{dadostempo['data']['condition']}}</h1>
      </div>

       







     {% endblock %} 
